<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body class="container">
    <div class="d-flex align-items-center flex-column justify-content-center vh-100 w-100">
      <div class="w-50 card p-5">
          <div class="d-flex align-items-center flex-column justify-content-center">
              <img src="/images/LOGO-SMP.png" width="200" height="200"/>
              <div class="container-fluid d-flex flex-column mt-5">
                  <form>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Alamat Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Kata Sandi</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Konfirmasi Kata Sandi</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="d-grid">
                          <button type="submit" class="btn btn-primary">Daftar</button>
                      </div>
                  </form>
                  <div class="d-flex flex-row justify-content-center mt-2">
                      <p>Sudah punya akun?</p>
                      <a href="/masuk">Masuk</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
      <script src="/js/bootstrap.min.js"/>
  </body>
</html>